@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@layer components {
  .button {
    @apply hover:opacity-75 transition cursor-pointer;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 10px;
  border: 3px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

::-webkit-scrollbar-track {
  background: transparent;
}
